<?xml version="1.0" encoding="UTF-8"?>
<!--
	Integration suite: real WordPress, real Tutor LMS, real database.

	Requires:
	  bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
	  bin/install-tutor.sh
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/integration-bootstrap.php"
	colors="true"
	cacheResult="false"
	failOnWarning="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertDeprecationsToExceptions="false">
	<testsuites>
		<testsuite name="integration">
			<directory suffix="Test.php">tests/Integration</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="WP_TESTS_MULTISITE" value="0"/>
	</php>
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix=".php">src/CLI</directory>
		</exclude>
	</coverage>
</phpunit>
